.penguin-flop {
    position: absolute;
    top: 100px;
    left: 30px;
}

.i-love {
    position: relative;
    margin: 50px auto;
    max-width: 800px;
    font-size: 3rem;
}

.penguin-heart {
    position: absolute;
    top: 40px;
    right: 50px;
}